<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{% block title %}Nume site{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    
    <!--[if IE]>
    <link href="{{ asset('css/ie.css') }}" rel="stylesheet">
    <![endif]-->  
        
    {% block stylesheets %}{% endblock %}
    
    <script src="{{ asset('js/jquery.js') }}"></script>
    
    {% block javascripts %}{% endblock %}
    
</head>

<body>
    
<div id="layout-content">
    
    {% include '::header.html.twig' %}   
    
    <div class="container">
    
    {% block content %}{% endblock %}
        
    </div> 

</div> <!-- layout-content END -->

    <footer>

        footer content

    </footer>

</body>
</html>
